
<div class="modal-header">
  <button type="button" ng-click="cancel()" class="close">&times;</button>
</div>

<!-- thank you message upon successful payment -->
<div class="modal-body text-center" ng-if="currentUser.activeSubscription">
  <h3>Thank you!</h3>
  <p>Thank you for subscribing to GOBE. We hope you enjoy your free 30 day trial.</p>
</div>



<!-- stripe sign up form -->
<div class="modal-body text-center" ng-if="!currentUser.activeSubscription">
  <img class="paywall" src="assets/images/paywall.png">
  <h3>FREE 30 DAY TRIAL</h3>
  <p>After 30 days your card will be charged $5.95. <br>The trial can be canceled anytime.</p>
  <br>

  <form stripe-form="stripeCallback" name="checkoutForm" class="modal-form-content" novalidate>
 <!--    ng-class="{'has-error': checkoutForm.$invalid && submitted }" -->

    <div class="row">
      <!-- cardholder name -->
        <div class="col-sm-12" ng-class="{'has-error': checkoutForm.name.$invalid && submitted}">
          <input ng-model="name" class="form-control" name="name" placeholder="Name" required>
            <span class="text-danger" ng-show="checkoutForm.name.$invalid && submitted">
              Please enter your full cardholder name.
            </span>
        </div>
    </div>
    <br>
    <!-- credit card -->
    <div class="row">
      <div class="col-sm-12" ng-class="{'has-error': checkoutForm.card.$invalid  && submitted}">
         <input ng-model="number" class="form-control" placeholder="Card Number" 
         payments-format="card" payments-validate="card" payments-type-model="type" name="card" required/>
         <div ng-show="checkoutForm.card.$invalid && submitted"
               ng-class="{'text-danger': checkoutForm.card.$invalid && submitted }">
             Invalid Card Number
         </div>
      </div>
    </div>
    <br>

    <!-- expiration date -->
    <div class="row">
      <div class="col-sm-4" ng-class="{'has-error': checkoutForm.expiry.$invalid && submitted}">

         <input ng-model="expiry"class="form-control" placeholder="Expiration" 
         payments-format="expiry" payments-validate="expiry" name="expiry" required/>
         <div ng-if="checkoutForm.expiry.$invalid && submitted"
               ng-class="{'text-danger': checkoutForm.expiry.$invalid && submitted }">
             Invalid Exp
         </div>

      </div>

      <!-- cvc # -->
      <div class="col-sm-4" ng-class="{'has-error': checkoutForm.cvc.$invalid && submitted}">
    
         <input ng-model="cvc" class="form-control"placeholder="CVC" payments-format="cvc"  
         payments-validate="cvc" name="cvc" required/>
         <div ng-if="checkoutForm.cvc.$invalid && submitted"
               ng-class="{'text-danger': checkoutForm.cvc.$invalid && submitted }">
             Invalid CVC
         </div>
      </div>

      <!-- promo -->
      <div class="col-sm-4">
         <input ng-model="promo" class="form-control" placeholder="Promo" name="promo" /><br>
      </div>
    </div>
    <br>
    <!-- card error message -->
    <span ng-if="submitted" class="text-danger">
        {{cardErrorMessage}}
     </span>
    <!-- end card error nessage -->
     <!-- submit button -->
<!--     <span ng-if="checkoutForm.$pristine && submitted"
           ng-class="{'text-danger': checkoutForm.$pristine && submitted }">
         Please fill out the form!
     </span><br> -->

    <button class="btn btn-primary btn-lg btn-block" type="submit"
      ng-class="{ 'btn-primary': checkoutForm.$valid, 'btn-secondary': checkoutForm.$invalid}">
      Get started
    </button>
  </form>
  <br>
  <p>Need multiple groups? <br>
  Contact us at <a href="mailto:info@gobethe1.com"><strong>info@gobethe1.com</strong></a></p>
</div>
<div class="modal-footer">
</div>
