<div class="container signup signup-bg">
    <div class="container">
        <div class="row text-center" ng-show="!successMessage">
            <div class="reset-password" ng-show="!successMessage">
              <h1>Reset Password</h1>
              <p>Please enter your new password</p>
              <br>

              <form class="form" name="form" ng-submit="newPasswordReset(form)" novalidate>
                <div class="col-xs-10 col-xs-offset-1 col-sm-4 col-sm-offset-4 text-center well">

                  <div class="form-group" ng-class="{ 'has-success': form.password.$valid && submitted,
                                                      'has-error': form.password.$invalid && submitted }">

                    <input type="password" name="password" class="form-control" ng-model="user.password"placeholder="New Password"
                           ng-minlength="8"
                           required
                           mongoose-error
                           data-ng-class="{'ng-invalid':form.confirmPassword.$error.match}"/>
                    <p class="help-block"
                       ng-show="(form.password.$error.minlength || form.password.$error.required) && submitted">
                      Password must be at least 8 characters.
                    </p>
                    <p class="text-danger" ng-show="form.password.$error.mongoose">
                      {{ errors.password }}
                    </p>
                  </div>

                  <div class="form-group" ng-class="{ 'has-success': form.confirmPassword.$valid && submitted,
                                                      'has-error': form.confirmPassword.$invalid && submitted }">

                    <input type="password" name="confirmPassword" class="form-control"
                           ng-model="user.passwordConfirm"
                           placeholder="Confirm New Password"
                           required
                           match="user.password"/>
                    <p class="text-danger"
                       ng-show="form.confirmPassword.$error.match && submitted">
                      Passwords must match.
                    </p>



                  </div>
                </div>

                <div class="col-xs-12 col-sm-4 col-sm-offset-4">

                    <p class="text-danger" ng-show="errors.other">
                      {{errors.other}}
                      <a ui-sref="forgot">Resend Link</a>
                    </p>
                  <button class="btn btn-signup btn-lg" type="submit">
                          <div>
                              Submit
                          </div>
                  </button>
                </div>
              </form>
            </div>
        </div>

  <!-- success message -->
        <br>
        <div class="col-xs-12 col-sm-12 text-center">
            <h4 class="text-success" ng-show="successMessage">
              Your password has been successfully changed!
            </h4>
            <h4>
              <a ui-sref='login' ng-show="successMessage"class="text-primary">Login</a>
            </h4>
        </div>
    </div>
</div>
