<div class="container signup signup-bg">
 <div class="container">
  <div class="row">

    <!-- header -->
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 text-center signup-header">
      <h2>Login</h2>
    </div>
    <!-- end header -->

    <!-- group login -->
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 well">
      <form class="form" name="form" ng-submit="login(form)" novalidate>
        <!-- start email -->
        <div class="form-group">
          <input type="email" name="email" class="form-control" ng-model="user.email"
                 placeholder="Email" required>
        </div>
        <!-- end email -->

        <!-- start password -->
        <div class="form-group">
          <input type="password" name="password" class="form-control" ng-model="user.password"
                 placeholder="Password" required>
        </div>
        <!-- end password -->

        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
             Please enter your email and password.
          </p>
          <p class="help-block" ng-show="form.email.$error.email && submitted">
             Please enter a valid email.
          </p>

          <p class="help-block">{{ errors.other }}</p>
        </div>

        <div>
          <button class="btn btn-inverse btn-lg btn-login btn-block" type="submit"
                  ng-class="{ 'dark-blue': form.$valid, 'btn-secondary': form.$invalid}">
            Login
          </button>
        </div>

      </form>
    </div>

    </div>
  </div>
</div>

