<footer ng-controller="FooterCtrl"ng-show="isLoggedIn()" class="navbar-default navbar-fixed-bottom">
  <div class="container-fluid">
    <div ui-sref="profile.details" class="col-sm-4 col-xs-4 text-center">
      <a>
        <i class="fa fa-user"></i>
        <p>Profile</p>
      </a>
    </div>
    <div ui-sref="group.list" class="col-sm-4 col-xs-4 text-center group-button">
      <a>
        <i class="fa fa-users"></i>
        <p>Groups</p>
      </a>
    </div>
    <div ng-click="causesLink()" class="col-sm-4 col-xs-4 text-center">
      <a>
        <i class="fa fa-heart"></i>
        <p>Causes</p>
      </a>
    </div>
  </div>
</footer>
