<div class="row">
	<div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" ng-hide="showTimes || sorryTaken || confirmGroup">
		<h4 class="text-center">Schedule Party</h4>
		<p>Please choose the date your group is available for the party. 
			Move-ins are usually about an hour.</p>

	  <form name="form" ng-submit="confirmGroupTime(form)" novalidate>
<!-- 	  	<h4>Form Valid: {{form.$valid}}</h4>
	  	<h4>confirmDate: {{event.confirmDate}}</h4> -->
<!-- 	  	<h4>confirmTime: {{event.confirmTime}}</h4>
	  	<h4>Timeone Model Value: {{form.timeone.$modelValue}}</h4>
	  	<h4>confirmTimeOne: {{event.confirmTimeOne}}</h4> -->
<!-- 	  	<h4>date one invalid: {{form.dateone.$invalid}}</h4>
	  	<h4>time one invalid: {{form.timeone.$invalid}}</h4>
	  	<h4>submitted: {{submitted}}</h4> -->
<!-- 	  	<h4>ng-required time: {{!event.confirmTime}}</h4>
	   <h4>time isempty: {{form.timeone.$isEmpty()}}</h4> -->
		<div class="form-group col-xs-10 col-offset-xs-1" >
		    <!-- date time one  -->
   			<div class="row" ng-class="{'has-error': form.dateone.$invalid && submitted}">
   			 <div class="col-xs-6 col-sm-6">
				<label class="radio">
				  <input name="dateone" ng-model="event.confirmDate" value="{{event.availability.firstDate}}" 
				  ng-change="resetTime('dateOne')"
				  ng-required="!event.confirmDate"
				  type="radio">
				  <span class="c-indicator"></span>
				 	{{event.availability.firstDate | date:"MMMM, d, yyyy" }} 
				</label>
			 </div>
			
			 <div class="col-xs-6 col-sm-6">
			  <select class="form-control"
			      ng-model="event.confirmTimeOne"
			      name="timeone"
			      ng-change="event.confirmTime = event.confirmTimeOne"
			      ng-options="obj as obj for obj in checkTime(event.availability.firstDateTime);">
			    <option value="" disabled selected>Choose Time</option>
			  </select>
			</div>
			</div>
			<!-- end date time one -->

		
			<!-- date time two -->
			<div class="row" ng-class="{ 'has-error': form.datetwo.$invalid && submitted}">
   			 <div class="col-xs-6 col-sm-6">
			   <label class="radio">
				  <input name="datetwo" ng-model="event.confirmDate" value="{{event.availability.secondDate}}" 
				    ng-change="resetTime('dateTwo')" type="radio"
				    ng-required="!event.confirmDate">
				  <span class="c-indicator"></span>
				 	{{event.availability.secondDate | date:"MMMM, d, yyyy" }} 
				</label>
			</div>
			 <div class="col-xs-6 col-sm-6">
			  <select class="form-control"
			      type="radio"
			      ng-model="event.confirmTimeTwo"
			      ng-change="event.confirmTime = event.confirmTimeTwo"
			      ng-options="obj as obj for obj in checkTime(event.availability.secondDateTime);"
			      >
			    <option value="" disabled selected>Choose Time</option>
			  </select>
			 </div>
		    </div>
			<!-- end date time two -->

			<!-- date time three -->
			<div class="row" ng-class="{'has-error': form.datethree.$invalid && submitted}">
			   <div class="col-xs-6 col-sm-6">
				<label class="radio">
				  <input name="datethree" ng-model="event.confirmDate" value="{{event.availability.thirdDate}}" 
				    ng-change="resetTime('dateThree')" type="radio"
				      ng-required="!event.confirmDate">
				  <span class="c-indicator"></span>
				 	{{event.availability.thirdDate | date:"MMMM, d, yyyy" }} 
				</label>
			</div>
			 <div class="col-xs-6 col-sm-6">
			  <select class="form-control"
			  type="radio"
			      ng-model="event.confirmTimeThree"
			      ng-change="event.confirmTime = event.confirmTimeThree"
			      ng-options="obj as obj for obj in checkTime(event.availability.thirdDateTime);"
			      >
			    <option value="" disabled selected>Choose Time</option>
			  </select>
			 </div>
		    </div>
			<!-- end date time three -->
			<!-- no times -->
			<div class="row" ng-class="{'has-error': form.dateone.$invalid && submitted}">
				<div class="col-xs-12 col-sm-12">
					<label class="radio">
					  <input name="other" ng-model="event.confirmDate" value="null" 
					    ng-change="resetTime('none')" type="radio" ng-click="showTimes = true">
					  <span class="c-indicator"></span>
					 	None of these dates and times work
					</label>

				</div>
			</div>
			<!-- end no times -->
			<!-- rsvp -->
			<div class="text-right">
				<button class="btn btn-lg" type="submit"
				ng-class="{ 'btn-primary': form.$valid, 'btn-secondary': form.$invalid}">
					Send RSVP
				</button>
			</div>
			<!-- end rsvp -->

		</div>
	</form>		

	
	</div>
	 <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" ng-show="showTimes">
		<h4>Thank You</h4>
		<p>New dates in your area are constantly being added. We'll keep you in the loop of
			the next volunteer opportunity.</p>

	</div>
	 <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" ng-show="sorryTaken">
		<h4>Sorry</h4>
		<p>Sorry, we just filled that opportunity! You'll be added to the waitlist in case anything changes.</p>
		<p>Don't worry new dates in your area are constantly being added. We'll keep you in the loop of the next volunteer opportunity</p>
	</div>
	 <div class="col-xs-12 col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3" ng-show="confirmGroup">
		<h4>Awesome!</h4>
		<p>We can't wait to see you at the party. Here's a link to the registry, please bring an item with you to the party</p>
		<p><a href="{{event.registryUrl}}">{{ (event.registryUrl).replace("https://", "")}}</a></p>
	</div>
</div>