.table > tbody > tr > th, .table > tbody > tr > td {
	border-top: 0px solid transparent;
}

.table > thead > tr > th {
    border-bottom: 0px solid transparent;
}

.table > tbody > tr > td.time{
	padding-top:0px;
}

.no-margin{
	margin: 0px;
}

.event-list li a:hover {
  display: inline-block;
}

i {
  color: black;
  margin-top: 0;
  margin-bottom: 10px;
}

.event-confirm li{
    padding: 10px 0px;
}

.input-group-btn {
   position: relative;
   font-size: 0;
   white-space: nowrap;
}

.input-group-btn {
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
}

.input-group-btn i {
  display: table-cell;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.table-responsive {
    border: 0px solid transparent;
}
.status-bar{
    height:30px;
    width: 100%;
    color: white;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 6px 25px;
}

.pending-bar{
  background-color: gray;
}

.confirmed-bar{
  background-color: green;
}

@media only screen and (max-width: $screen-xs) {
  .status-bar{
      height: 30px;
      padding: 6px 25px;
  }
}