<div class="row">
  <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-xs-12">
    <!-- party status -->
    <div class="row">
      <div class="col-xs-12 col-sm-12 no-pad">
        <div class="status-bar" ng-class="{'pending-bar': !event.confirmGroup, 'confirmed-bar': event.confirmGroup}">
        <!--   Status: Party Pending --> Status: {{partyStatus(event)}}
          <span style="float:right" ng-if="event.confirmGroup">Guests: {{group.organizationName}}</span> 
          <!-- create function that runs on event.confirmGroup and returns party status -->
        </div>
      </div>
    </div>
    <!-- end party status -->
    <!-- back button -->
    <div class="row">
      <div class="col-xs-6 col-sm-6">
      <a ui-sref="event.list">
        <i class="fa fa-long-arrow-left fa-2x" style="padding-left:10px;"></i>
      </a>
      </div>
      <div class="col-xs-6 col-sm-6 text-right">
        <a ui-sref="event.edit({id: event._id})" style="padding-right:10px;">Edit</a>
      </div>
    </div>
    <!-- end back button -->
    <div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col-sm-6 col-xs-6">
              <h3 class="no-margin">{{event.firstName | capitalize}} {{event.lastName | capitalize}}</h3>
          </th>
          <th class="col-sm-6 col-xs-6">
          </th>
        </tr>
      </thead>
        <tbody>
          <tr>
              <th>Client Phone Number:</th>
              <td>{{event.phoneNumber | tel}}</td>
          </tr>
          <tr>
              <th>Move in address:</th>
              <td>{{event.address | capitalize}}</td>
          </tr>
          <tr>
              <th>Move in zip:</th>
              <td>{{event.zipCode}}</td>
          </tr>
          <tr>
              <th>Gender:</th>
              <td>{{event.gender | capitalize }}</td>
          </tr>
          <tr>
              <th>Age:</th>
              <td>{{event.age}}</td>
          </tr>
          <tr>
              <th>Date moved in:</th>
              <td>{{event.availability.moveInDate | date:"MM/dd/yyyy" }}</td>
          </tr>
          <tr>
              <th>Date 1:</th>
              <td>{{event.availability.firstDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-repeat="time in event.availability.firstDateTime track by $index" ng-if="time">
            <th ></th>
            <td class="time">
              {{checkTime(time, $index)}}
            </td>
          </tr>

          <tr>
              <th>Date 2:</th>
              <td>{{event.availability.secondDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-repeat="time in event.availability.secondDateTime track by $index" ng-if="time">
            <th></th>
            <td class="time">
              {{checkTime(time, $index)}}
            </td>
          </tr>

          <tr>
              <th>Date 3:</th>
              <td>{{event.availability.thirdDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-repeat="time in event.availability.thirdDateTime track by $index" ng-if="time">
            <th></th>
            <td class="time">
              {{checkTime(time, $index)}}
            </td>
          </tr>

          <tr>
              <th>Registry Url:</th>
              <td>{{event.registryUrl}}</td>
          </tr>

          <tr>
              <th>Notes:</th>
              <td>{{event.notes}}</td>
          </tr>

        </tbody>

    </table>
  </div>
  </div>
</div>
