<form class="form new-event" name="form" ng-submit="publishEvent(form)" novalidate>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h3>New Client</h3>

			<!-- source in event-new-edit html from components/templates -->
		    <div ng-include="'components/templates/events/event-new-edit.html'"></div>

			<!-- save publish cancel buttons -->
				<div class="text-left">
					<p class="text-danger">{{addEventError}}</p>
				</div>

				<div class="row" ng-show="newEvent.causeType">
					<div class="col-xs-2 col-sm-4 text-left">
						<button class="btn btn-lg btn-transparent" ng-click="cancelClient(form)">
							Cancel
						</button>
					</div>
					<div class="col-xs-6 col-sm-4 text-center">
						<button class="btn btn-lg btn-primary" type="button" ng-click="addEvent()">
							Save For Later
						</button>
					</div>
					<div class="col-xs-4 col-sm-4 text-right">
						<button class="btn btn-lg" type="submit" ng-submit="publishEvent(form)"
						ng-class="{ 'btn-primary': form.$valid, 'btn-secondary': form.$invalid}">
							Publish
						</button>
					</div>
				</div>
			<!-- end save publish cancel buttons -->

			</div>
			<!-- end show hide once cause is selected -->
		</div>
		<!-- end col spacing -->
	</div>
	<!-- end row -->

</form>







