.table > tbody > tr > th, .table > tbody > tr > td {
	border-top: 0px solid transparent;
}

.table > thead > tr > th {
    border-bottom: 0px solid transparent;
}

.table > tbody > tr > td.time{
	padding-top:0px;
}

.no-margin{
	margin: 0px;
}

.event-list li a:hover {
  display: inline-block;
}

i {
  color: black;
  margin-top: 0;
  margin-bottom: 10px;
}

.event-confirm li{
    padding: 10px 0px;
}

.input-group-btn {
   position: relative;
   font-size: 0;
   white-space: nowrap;
}

.input-group-btn {
   width: 1%;
   white-space: nowrap;
   vertical-align: middle;
}

.input-group-btn i {
  display: table-cell;
  color: black;
  margin-top: 0;
  margin-bottom: 0;
}

.table-responsive {
    border: 0px solid transparent;
}

.status-bar {
    position: fixed;
    color: white;
    width: 100%;
    left: 0px;
    top: 114px;
    margin-top: -20px;
    margin-bottom: 20px;
    padding: 6px 10%;
    z-index: 100;
      p {
      margin: 0 0 0px;
    }
    .date-position{
      float: right;
    }
}

.event-show-info-margin-top{
  margin-top:20px;
}

.pending-bar{
  background-color: gray;
}

.confirmed-bar{
  background-color: green;
}

.btn-transparent{
  background-color: transparent;
  border: 1px solid transparent;
  font-size: 14px;
  // padding-top: 17px;
  padding-left:0px;
  text-decoration: underline;
  &:hover, &:focus{
    background-color: transparent;
    border: 1px solid transparent;
  }
}

button.btn.save-later{
  background-color: $darkest-blue;
  border-color: $darkest-blue;
}

.btn-lg {
  font-size: 14px !important;
}

.event-list-sub-nav{
    text-decoration:none;
    border-bottom: 5px solid transparent;
    text-align: center;
    padding-bottom: 5px;
    a{
      color: $gray;
      font-weight: normal;
    }
}

.group-individual {
  margin-left: 0;
  margin-right: 0;
}

.active-sub{
  border-bottom: 5px solid $bg-blue;
  text-align: center;
  padding-bottom: 5px;
  a{
    text-decoration: none;
    color: black;
    font-weight: bold;
    &:hover, &:focus, &:visited{
       text-decoration: none;
    }
  }
}

.sub{
  border-bottom: 2px solid grey;
  text-align: center;
  padding-bottom: 5px;
}

.radio-icons i {
  margin-left: 3%;
  margin-right: 0%;
}

.add-time-btn {
  margin-top: 4%;
  margin-bottom: 4%;
}

@media only screen and (max-width: $screen-sm) {
  .status-bar{
      padding: 6px 25px;
      top:80px;
     .date-position{
       float: none;
     }
  }

  .radio-icons i {
    margin-right: 3%;
  }

  .group-only {
    margin-right: 4%;
  }

  .event-show-info-margin-top{
    margin-top:40px;
  }

}

@media only screen and (max-width: $screen-xs) {
  .radio-icons i {
    margin-left: 9%;
    margin-right: 9%;
  }

  .group-only {
    margin-right: 15%;
  }
}
