<form class="form new-event" name="form" ng-submit="updateEvent(form)" novalidate>
	<div class="row">
		<div class="col-md-6 col-md-offset-3 col-xs-12">
			<h3>Edit Client</h3>

			<!-- edit client name -->
			<div class="row">
				<div class="col-md-6 col-xs-6">
				 <div class="form-group" ng-class="{ 'has-success': form.firstname.$valid && submitted,
	                                          'has-error': form.firstname.$invalid && submitted }">
				   <label>First Name</label>
				   <input type="text" name="firstname" ng-model="newEvent.firstName" class="form-control" required>
				  </div>
				</div>
				<div class="col-md-6 col-xs-6">
					<div class="form-group" ng-class="{ 'has-success': form.lastname.$valid && submitted,
		                                           'has-error': form.lastname.$invalid  && submitted }">
					   <label>Last Name</label>
					   <input type="text" name="lastname" ng-model="newEvent.lastName" class="form-control" required>
					</div>
				</div>
			</div>
			<!-- end client name -->

			<!-- phone number  -->
      <div class="form-group" ng-class="{ 'has-success': form.phoneNumber.$valid && submitted,
                                           'has-error': form.phoneNumber.$invalid && submitted }">
        <label>Client Phone Number (optional)</label>
        <input type="text" name="phoneNumber" ng-model="newEvent.phoneNumber"
               class="form-control" ui-mask="(999) 999-9999"/>
      </div>
			<!-- end phone number -->

			<!-- address -->
			<div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
			                                     'has-error': form.address.$invalid && submitted }">
        <label>Move-in Address</label>
        <input type="text" name="address" ng-model="newEvent.address" class="form-control"
         required/>
       </div>
			<!-- end address -->
			<div class="form-group" ng-class="{ 'has-success': form.zipcode.$valid && submitted,
                                           'has-error': (form.zipcode.$invalid || form.zipcode.$error.minlength) && submitted }">
			   <label> Move-in Zipcode</label>
			   <input type="text" ng-minlength="5" name="zipcode" ng-model="newEvent.zipCode" class="form-control"
			   ui-mask="99999" ui-mask-placeholder-char="space" required>
			</div>
			<p class="text-danger" ng-show="form.zipcode.$error.minlength && submitted">
			  	Zipcode must be 5 numbers.
			</p>

			<!-- gender age-->
			<div class="row">
				<div class="col-sm-6 col-xs-9">
					<div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,
					                                    'has-error': form.address.$invalid && submitted }">
					    <label>Gender (optional)</label><br>
						<label class="radio-inline">
						  <input name="male" ng-model="newEvent.gender" value="male" type="radio">
						  <span class="c-indicator"></span>
						  Male
						</label>
						<label class="radio-inline">
						  <input name="female" ng-model="newEvent.gender" value="female" type="radio">
						  <span class="c-indicator"></span>
						 Female
						</label>
						<label class="radio-inline">
						  <input name="other" ng-model="newEvent.gender" value="other" type="radio">
						  <span class="c-indicator"></span>
						 Other
						</label>
					</div>
				</div>
				<div class="col-sm-6 col-xs-3">
					<div class="form-group">
					   <label>Age (optional)</label>
					   <input type="number" name="age" ng-model="newEvent.age" class="form-control">
					</div>
				</div>
			</div>
			<!-- gender age-->
			<!-- date movedin -->
			<div class="form-group" ng-class="{ 'has-success': form.moveindate.$valid && submitted,
                                               'has-error': form.moveindate.$invalid && submitted }">
			   <label>Move-In Date</label>
			   <input type="date" name="moveindate" ng-model="newEvent.availability.moveInDate" class="form-control" required>
			</div>
			<!-- date movedin -->
			<!-- date one and time -->
			<label>Please Choose 3 Available Dates and Times</label><br>
			<label>Date & Time 1</label>
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<div class="form-group" ng-class="{ 'has-success': form.dateone.$valid && submitted,
		                                               'has-error': form.dateone.$invalid && submitted }">
					   <input type="date" name="dateone" ng-model="newEvent.availability.firstDate" class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="form-group" ng-class="{ 'has-success': newEvent.availability.firstDateTime[0] && newEvent.availability.firstDateTime[1] && 										 newEvent.availability.firstDateTime[2] && submitted,
					                                     'has-error': !newEvent.availability.firstDateTime[0] && !newEvent.availability.firstDateTime[1] && !newEvent.availability.firstDateTime[2] && submitted }">
						<label class="checkbox-inline">
						  <input name="morning" ng-model="newEvent.availability.firstDateTime[0]" type="checkbox"
						  ng-required="!newEvent.availability.firstDateTime[0] && !newEvent.availability.firstDateTime[1] && !newEvent.availability.firstDateTime[2]">
						  <span class="c-indicator"></span>
						  Morning<br> 8-12
						</label>
						<label class="checkbox-inline">
						  <input name="afternoon" ng-model="newEvent.availability.firstDateTime[1]"type="checkbox"  ng-required="!newEvent.availability.firstDateTime[0] && !newEvent.availability.firstDateTime[1] && !newEvent.availability.firstDateTime[2]">
						  <span class="c-indicator"></span>
						 Afternoon<br> 12-5
						</label>
						<label class="checkbox-inline">
						  <input name="evening" ng-model="newEvent.availability.firstDateTime[2]" type="checkbox"  ng-required="!newEvent.availability.firstDateTime[0] && !newEvent.availability.firstDateTime[1] && !newEvent.availability.firstDateTime[2]">
						  <span class="c-indicator"></span>
						 Evening<br> 5-10
						</label>
					</div>
				</div>
			</div>
			<!-- end date one and time -->

			<!-- date two and time -->
			<label>Date & Time 2</label>
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<div class="form-group" ng-class="{ 'has-success': form.datetwo.$valid && submitted,
		                                               'has-error': form.datetwo.$invalid && submitted }">
					  <input type="date" name="datetwo" ng-model="newEvent.availability.secondDate" class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="form-group" ng-class="{ 'has-success': newEvent.availability.secondDateTime[0] && newEvent.availability.secondDateTime[1] &&                                    newEvent.availability.secondDateTime[2] && submitted,
					                                    'has-error': !newEvent.availability.secondDateTime[0] && !newEvent.availability.secondDateTime[1] && !newEvent.availability.secondDateTime[2] && submitted }">
						<label class="checkbox-inline">
						  <input name="morning" ng-model="newEvent.availability.secondDateTime[0]" type="checkbox"  ng-required="!newEvent.availability.secondDateTime[0] && !newEvent.availability.secondDateTime[1] && !newEvent.availability.secondDateTime[2]">
						  <span class="c-indicator"></span>
						  Morning<br>8-12
						</label>
						<label class="checkbox-inline">
						  <input name="afternoon" ng-model="newEvent.availability.secondDateTime[1]" type="checkbox"  ng-required="!newEvent.availability.secondDateTime[0] && !newEvent.availability.secondDateTime[1] && !newEvent.availability.secondDateTime[2]">
						  <span class="c-indicator"></span>
						 Afternoon<br> 12-5
						</label>
						<label class="checkbox-inline">
						  <input name="evening" ng-model="newEvent.availability.secondDateTime[2]" type="checkbox" ng-required="!newEvent.availability.secondDateTime[0&& !newEvent.availability.secondDateTime[1] && !newEvent.availability.secondDateTime[2]">
						  <span class="c-indicator">
						  Evening<br> 5-10
						</span>
						</label>
					</div>
				</div>
			</div>
			<!-- end date two and time -->
			<!-- date three and time -->
			<label>Date & Time 3</label>
			<div class="row">
				<div class="col-xs-12 col-sm-5">
					<div class="form-group" ng-class="{ 'has-success': form.datethree.$valid && submitted,
		                                               'has-error': form.datethree.$invalid && submitted }">
					   <input type="date" name="datethree" ng-model="newEvent.availability.thirdDate" class="form-control" required>
					</div>
				</div>
				<div class="col-xs-12 col-sm-7">
					<div class="form-group" ng-class="{ 'has-success': newEvent.availability.thirdDateTime[0] && newEvent.availability.thirdDateTime[1] && 										newEvent.availability.thirdDateTime[2] && submitted,
					                                    'has-error': !newEvent.availability.thirdDateTime[0] && !newEvent.availability.thirdDateTime[1] && !newEvent.availability.thirdDateTime[2] && submitted }">
						<label class="checkbox-inline">
						  <input name="morning" ng-model="newEvent.availability.thirdDateTime[0]" value="Morning 8am-12pm" type="checkbox"  ng-required="!newEvent.availability.thirdDateTime[0] && !newEvent.availability.thirdDateTime[1] && !newEvent.availability.thirdDateTime[2]">
						  <span class="c-indicator"></span>
						  Morning<br> 8-12
						</label>
						<label class="checkbox-inline">
						  <input name="afternoon" ng-model="newEvent.availability.thirdDateTime[1]" value="Afternoon 12pm-5pm" type="checkbox" ng-required="!newEvent.availability.thirdDateTime[0] && !newEvent.availability.thirdDateTime[1] && !newEvent.availability.thirdDateTime[2]">
						  <span class="c-indicator"></span>
						 Afternoon<br> 12-5
						</label>
						<label class="checkbox-inline">
						  <input name="evening" ng-model="newEvent.availability.thirdDateTime[2]" value="Evening 5pm-10pm" type="checkbox" ng-required="!newEvent.availability.thirdDateTime[0] && !newEvent.availability.thirdDateTime[1] && !newEvent.availability.thirdDateTime[2]">
						  <span class="c-indicator"></span>
						 Evening<br> 5-10
						</label>
					</div>

				</div>
			</div>
			<!-- end date three and time -->

			<!-- registry url -->
			<div class="form-group">
			   <label>Registry Url (optional)</label>
			   <input type="text" name="registryUrl" ng-model="newEvent.registryUrl" class="form-control">
			</div>
			<!-- end registry url -->

			<!-- notes section -->
			<div class="form-group">
			   <label>Notes (optional)</label>
			   <textarea type="text" rows="3" name="notes" ng-model="newEvent.notes" class="form-control"
			   placeholder="Any special requests, are there any age restrictions for volunteers, does the client have any children or pets or interests"></textarea>
			</div>

			<!-- end notes section -->
			<div class="text-left">
				<p class="text-danger">{{addEventError}}</p>
			</div>
			<div class="text-right">
				<button class="btn btn-lg" type="submit" ng-submit="addEvent()"
				ng-class="{ 'btn-primary': form.$valid, 'btn-secondary': form.$invalid}"
				>
					Finish
				</button>
			</div>

		</div>
	</div>
</form>
