<div class="container">
  <div class="row">
    <!-- <div class="col-sm-6 col-xs-12"> -->
      <div class="row event-list-sub-nav">
        <div class="col-xs-2" ng-class="{'active-sub': sort === all}"><a href="" ng-click="sort = all">All</a></div>
        <div class="col-xs-3" ng-class="{'active-sub': sort === matched}"><a href=""  ng-click="sort = matched">Matched</a></div>
        <div class="col-xs-3" ng-class="{'active-sub': sort === pending}"><a href="" ng-click="sort = pending">Pending</a></div>
        <div class="col-xs-4" ng-class="{'active-sub': sort === unpublished}"><a href="" ng-click="sort = unpublished">Unpublished</a></div>
      </div>
  <!--   </div> -->
  </div>
</div>

<div class="row">
  <div class="col-sm-6 col-xs-6">
    <h2>Clients</h2>
  </div>
  <div class="col-sm-6 col-xs-6">
    <h2>
        <button ui-sref="event.new" class="btn btn-secondary btn-lg">Add Client</button>
    </h2>
  </div>

  <div class="col-sm-6 col-xs-12">
    <ul class="list-unstyled event-list">
      <li ng-repeat="event in listEvents | filter:sort "
          ng-mouseenter="hover = false"
          ng-mouseleave="hover = true">
        <div class="row">
          <span class="col-sm-11 col-xs-10">
            <a ui-sref="event.show({id: event._id})">
              <h4>{{event.firstName | capitalize }} {{event.lastName | capitalize }}</h4>
            </a>
            <p>Published: {{event.published}}</p>
            <p>Matched: {{confirmGroupStatus(event)}}</p>
          </span>
          <span class="col-sm-1 col-xs-2">
            <a ng-click="deleteEvent(event._id)" ng-class="{'hidden-sm': hover, 'hidden-md': hover, 'hidden-lg': hover}">
              <i class="fa fa-times"></i>
            </a>
          </span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

</div>
