<div class="row">
	<div class="col-xs-12 col-sm-12" ng-hide="showTimes || sorryTaken || confirmGroup">
		<h4>Pick a time to party</h4>

		 <ul class="list-unstyled event-confirm">
		   <li ng-repeat="time in event.availability.firstDateTime track by $index" ng-if="time">
			  <a href="#" ng-click="confirmGroupTime(event.availability.firstDate, checkTime(time, $index))">
			   {{event.availability.firstDate | date:"MMMM, d, yyyy" }} between {{checkTime(time, $index)}}</a>
		   </li>

	      <li ng-repeat="time in event.availability.secondDateTime track by $index" ng-if="time">
	   	    <a href="#" ng-click="confirmGroupTime(event.availability.secondDate, checkTime(time, $index))">
	   	      {{event.availability.secondDate | date:"MMMM, d, yyyy" }} between {{checkTime(time, $index)}}</a>
	      </li>

          <li ng-repeat="time in event.availability.thirdDateTime track by $index" ng-if="time">
      	    <a href="#" ng-click="confirmGroupTime(event.availability.thirdDate, checkTime(time, $index))">
      	    	{{event.availability.thirdDate | date:"MMMM, d, yyyy" }} between {{checkTime(time, $index)}}</a>
          </li>

          <li>
          	<a href="#" ng-click="showTimes = true">
          	    None of these dates and times work</a></li>

		</ul>
	</div>
	 <div class="col-xs-12 col-sm-12" ng-show="showTimes">
		<h4>Thank You</h4>
		<p>New dates in your area are constantly being added. We'll keep you in the loop of
			the next volunteer opportunity.</p>

	</div>
	 <div class="col-xs-12 col-sm-12" ng-show="sorryTaken">
		<h4>Sorry</h4>
		<p>Sorry, we just filled that opportunity! You'll be added to the waitlist in case anything changes.</p>
		<p>Don't worry new dates in your area are constantly being added. We'll keep you in the loop of the next volunteer opportunity</p>
	</div>
	 <div class="col-xs-12 col-sm-12" ng-show="confirmGroup">
		<h4>Awesome!</h4>
		<p>We can't wait to see you at the party. Check your email for all the details.</p>
	</div>
</div>
