<div class="row">
  <!-- button to add cause -->
  <div ng-if="isAdmin() || activeSubscription()" class="col-xs-12 col-sm-12">
        <button ui-sref="event.new" class="btn btn-secondary btn-lg btn-add pull-right">
          Add Cause
        </button>
  </div>

  <!-- button to trigger stipe -->
  <div ng-if="!isAdmin() && !activeSubscription()" class="col-xs-12 col-sm-12">
        <button ng-click="openPaymentModal();" class="btn btn-secondary btn-add btn-lg pull-right">Add Cause
        </button>
  </div>
</div>

<!-- matched / pending / etc bar -->
<div ng-show="(listEvents | filter:checkEventFilter).length < 1" class="col-sm-12 col-xs-12 group-list-text text-center">
  <h3>NO CAUSES ADDED</h3>
  <i class="fa fa-heart fa-5x" aria-hidden="true"></i>
  <h4>Need volunteers for your cause? Add it here by clicking the add cause button above.</h4>
  <h4>No sure what to do? Check the feedback tab for more info.</h4>
</div>
<br>

<div ng-show="(listEvents | filter:checkEventFilter).length >= 1" class="container">
  <div class="row" ng-show="activeSubscription() || isAdmin()">
    <div class="col-sm-6 col-xs-12">
      <div class="row event-list-sub-nav">
        <div class="col-xs-2" ng-init="sort = all" ng-class="{'active-sub': sort === all}">
          <a href="#" ng-click="sort = all">All</a></div>
        <div class="col-xs-3" ng-class="{'active-sub': sort == matched}">
          <a href="#"  ng-click="sort = matched">Matched</a></div>
        <div class="col-xs-3" ng-class="{'active-sub': sort === pending}">
          <a href="#" ng-click="sort = pending">Pending</a></div>
        <div class="col-xs-4" ng-class="{'active-sub': sort === unpublished}">
          <a href="#" ng-click="sort = unpublished">Unpublished</a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- end matched / pending / etc bar -->

<!-- sourced in event-list from components/templates -->
<div ng-include="'components/templates/events/event-list.html'"></div>

