.table > tbody > tr > th, .table > tbody > tr > td {
	border-top: 0px solid transparent;
}

.table > thead > tr > th {
    border-bottom: 0px solid transparent;
}

.table > tbody > tr > td.time{
	padding-top:0px;
}

.no-margin{
	margin: 0px;
}

.event-list li a:hover {
  display: inline-block;
}

i {
  color: black;
  margin-top: 15px;
  margin-bottom: 10px;
}
