$icon-font-path: "/bower_components/bootstrap-sass-official/vendor/assets/fonts/bootstrap/";
$fa-font-path: "/bower_components/font-awesome/fonts";

@import 'bootstrap-sass-official/vendor/assets/stylesheets/bootstrap';
@import 'font-awesome/scss/font-awesome';

/**
 * App-wide Styles
 */

$bg-blue: #4a90e2;
$dark-blue: #152940;
$darkest-blue: #203f62;
$primary-blue: #4A90E2;
$font-family-sans-serif: "Helvetica", sans-serif !important;
$white: white;
$black: black;
$gray: #979797;
$footer-black: #ffffff;
$light-gray-slider: #cccccc;

// button borders pulled from bootstrap-sass variables
$border-radius-base:        9px !important;
$border-radius-large:       9px !important;
$border-radius-small:       9px !important;

body {
  font-family: $font-family-sans-serif;
  margin: 0;
  margin-bottom: 12vh;
  margin-top: 116px;
}

.navbar.navbar-default {
  background-color: $bg-blue !important;
  border-color: transparent !important;
}

.navbar-default {
  .navbar-toggle {
    &:hover {
      background-color: $white;
      .icon-bar {
        background-color: $bg-blue;
      }
    }
      .icon-bar {
        background-color: $white;
      }
    }
  .navbar-brand {
      color: $white !important;
  }
  .navbar-nav > li > a {
      color: $white;
  }
}

.navbar-fixed-responsive{
  top: -66px;
  border-bottom: 1px solid black;
  border-width: 0 0 1px;
  position: absolute;
  right: 0;
  left: 0;
  z-index: 1030;
  margin-top: 0px;
}

li.current-location{
  float:none;
  display:inline-block;
  color:white;
}

.navbar-nav.title-navbar-nav{
  text-align:center;
  min-height: 36px;
}

.nav-arrow{
  position:absolute;
  left:4%;
  top:25%;
}

.no-pad{
  padding: 0px;
}

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

.has-error .form-control {
   border: 2px solid #a94442;
   box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.has-success .checkbox-inline {
    border-color: #3c763d;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}

.btn-secondary{
  background-color: lightgray;
}



.navbar-default {
  border-color: $black !important;
  background-color: $white !important;

}

.secondary-footer {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

footer{
  margin-top: 5vh;
  padding-top: 0px;
  border-top: 1px solid $black;

    .fa {
      padding-top: 5px;
      margin-bottom: 0px;
    }
    p {
      margin: 0 0 3px;
    }
    a {
      color: $black;
      text-decoration: none;
      &:hover {
        text-decoration: none;
        color:$black;
      }
      &:active{
        color:$bg-blue;
      }
    }
    .group-button {
      border-right: 1px solid $black;
      border-left: 1px solid $black;

    }

}

.footer-active a, .footer-active i{
  color: $bg-blue;
}


/* Signup Styles */

.signup-bg{
  background-color: $white;
  margin-top: -20px;
  height:100vh;
  width: 100vw;
}

.signup .well{
  background-color: $white;
  border-color: $primary-blue;
}

.signup-header{
  padding-bottom: 2%;
  h2,h5{
    color: $black;
  }
}

.dark-blue{
  background-color: $primary-blue;
  color: $white;
}

.btn:focus{
  color: $primary-blue;
}

.btn:active, .btn.active {
  background-color: $white;
  box-shadow: none;
  color: $primary-blue;
  border: 1px solid $primary-blue;
}

.btn.active.focus, .btn.active:focus,
.btn.focus, .btn:active.focus,
.btn:active:focus, .btn:focus {
   outline: 0;
}

// font-awesome styling


.glyphicon {
  line-height: 1.45 !important;
}
/* End Signup Styles */

@media only screen and (max-width: $screen-xs) {
	body{
		font-size: 13px;
    margin-top: 79px;
	}
  .navbar-nav.title-navbar-nav{
    margin-left: 15vw;
  }
  .navbar-toggle{
    margin-right: 0px;
  }
}
@media only screen and (max-width: $screen-sm) {
  .signup-header {
    padding-bottom: 5%;
  }
  .navbar-fixed-responsive{
    margin-bottom: 0;
    border-width: 1px 0 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    bottom: 0;
    top: inherit;
  }
}
@media only screen and (min-width: $screen-sm) {
  .title-navbar-nav {
    position: absolute;
    left: 48%;
  }

li.current-location{
    h4 {
      padding-top: 15px;
      padding-bottom: 15px;
      margin-top: 0;
      margin-bottom: 0;
    }
  }
}

rzslider .rz-pointer {
  &:after {
    top: 7px;
    left: 8px;
    width: 5px;
    height: 6px;
  }
  top: -9px;
  width: 20px;
  height: 20px;
  background-color: $light-gray-slider;
  box-shadow: 2px 2px 1px grey
}

rzslider .rz-bar.rz-selection {
    z-index: 2;
    background: $primary-blue;
  }






// Component styles are injected through grunt
// injector
@import 'account/login/login.scss';
@import 'admin/admin.scss';
@import 'confirm/confirm.scss';
@import 'event/event.scss';
@import 'group/group.scss';
@import 'main/main.scss';
@import 'profile/profile.scss';
@import 'volunteer/volunteer.scss';
@import 'modal/modal.scss';
// endinjector
