<!-- end navbar-subnav container -->
<div style="position:relative">
<!-- navbar -->
<div class="navbar navbar-default navbar-fixed-top" ng-controller="NavbarCtrl" style="z-index:10000000">
  <div class="container">
    <!-- <div class="navbar-header"> -->
      <!-- <a href="/" class="navbar-brand">GOBE</a> -->
    <!-- </div> -->
    <button class="navbar-toggle navbar-toggle-position" type="button" ng-click="isCollapsed = !isCollapsed">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>

    <ul class="nav navbar-nav title-navbar-nav">
      <li class="current-location">
        <h4 class="pull-right">{{stateParams.name || navTitle(currentLocation)}}</h4>
      </li>
    </ul>
    <div collapse="isCollapsed" class="navbar-collapse" ng-class="{'collapse': isCollapsed}" id="navbar-main">
<!--       <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
        <li ng-show="isAdmin()" ng-class="{active: isActive('/admin')}"><a href="/admin">Admin</a></li>
      </ul> -->

      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/signup')}">
          <a ng-click="isCollapsed = !isCollapsed" href="/signup">Sign up</a></li>
        <li ng-hide="isLoggedIn()" ng-class="{active: isActive('/login')}">
          <a ng-click="isCollapsed = !isCollapsed" href="/login">Login</a></li>
      <!--   <li ng-show="isAdmin()" ng-class="{active: isActive('/event/list')}"> <a ui-sref="event.list">Clients</a> </li> -->
<!--    <li ng-show="isLoggedIn()"><p class="navbar-text">Hello {{ getCurrentUser().name }}</p> </li>
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/settings')}"><a href="/settings"><span class="glyphicon glyphicon-cog"></span></a></li> -->
        <li ng-show="isLoggedIn()" ng-class="{active: isActive('/logout')}">
          <a ng-click="logout()">Logout</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<!-- end navbar -->
<footer ng-controller="FooterCtrl"ng-show="isLoggedIn()" class="navbar-default navbar-fixed-responsive hidden-xs navbar-subnav">
  <div class="container-fluid">
    <div ui-sref="profile.details" ng-class="{'footer-active': isActive('/profile/details')}" class="col-sm-3 col-xs-3 text-center">
      <a>
        <i class="fa fa-user"></i>
        <p>Profile</p>
      </a>
    </div>
    <div ui-sref="group.list" ng-class="{'footer-active': isActive('/group/list')}" class="col-sm-3 col-xs-3 text-center group-button">
      <a>
        <i class="fa fa-users"></i>
        <p>Groups</p>
      </a>
    </div>
    <div ui-sref="event.list" ng-class="{'footer-active': isActive('/event/list')}"
    class="col-sm-3 col-xs-3 cause-button text-center">
      <a>
        <i class="fa fa-heart"></i>
        <p>Causes</p>
      </a>
    </div>
    <div ui-sref="comment" ng-class="{'footer-active': isActive('/comment')}"
    class="col-sm-3 col-xs-3 text-center">
      <a>
        <i class="fa fa-comment"></i>
        <p>Feedback</p>
      </a>
    </div>
  </div>
</footer>
<!-- end navbar-subnav container -->
</div>
