.individual-show {
  i {
    color: $darkest-blue;
  }
  p {
    margin: 0px;
  }
}


.event-show {
  tr, th, td {
    padding: 0px;
  }
}

.detail-rows {
  p {
    word-break: break-word
  }
}

.avatar {
  width: 120%;
  height: 120%;
  border-radius: 50%;
}

@media only screen and (max-width: $screen-md) {
  .avatar {
    width: 120%;
    height: 120%;
  }
  .last-div-details {
    padding-left: 0px;
    padding-right: 0px;
  }
}
