
<!-- edit group -->
<div class="row">
  <div class="col-sm-12 col-xs-12 text-right">
    <a ui-sref="profile.edit({id: currentUser.id, name: currentUser.firstName})">Edit</a>
  </div>
</div>
<br>
<!-- end edit group -->

<uib-accordion close-others="oneAtATime">
    <uib-accordion-group heading="Your Info" ng-init="isOpen = true" is-open="isOpen" template-url="app/group/custom-accordion-template.html">
      <div class="row">
        <div class="col-xs-2 col-xs-offset-1">
          <i class="fa fa-user fa-5x" aria-hidden="true"></i>
        </div>
        <div class="col-xs-2 pull-left">
          <p>Name:</p>
          <p>Phone:</p>
          <p>Email:</p>
          <p>Location:</p>
          <p>Distance:</p>
          <p>Subscription:</p>
          <p>Status:</p>
        </div>
        <div class="col-xs-6 pull-left">
          <p>{{userName}}</p>
          <p>{{user.phoneNumber}}</p>
          <p>{{user.email}}</p>
          <p>{{callAddress}}</p>
          <p>{{user.matchRadius}} miles</p>
          <p>{{checkStatus()}}</p>
          <p>{{checkRenewal()}}</p>
        </div>
      </div>
    </uib-accordion-group>
</uib-accordion>

<!-- volunteer tabs based on confirmed, rejected, invited -->
<div class="col-sm-12 col-xs-12">
  <div class="row event-list-sub-nav">
    <div class="col-sm-6 text-center" ng-class="{'active-sub':isActiveTab(0)}">
      <a ng-click="changeTab(0)">Available</a>
    </div>
    <div class="col-sm-6 text-center" ng-class="{'active-sub':isActiveTab(1)}">
      <a ng-click="changeTab(1)">Your Events</a>
    </div>
  </div>
</div>
<br>
<!-- end volunteer list tab -->

<!-- email list based on active tab selected -->
<div class="col-sm-12 col-xs-12">
  <ul class="list-unstyled event-list">
    <br>
    <li ng-if="isActiveTab(0)" ng-repeat="match in matchedZips | orderBy: '-createdAt'">
      <div class="row">
        <span class="col-sm-2 col-xs-2 text-center">
            <i class="fa fa-calendar-o fa-3x"></i>
            <p>{{match.confirmDate | date:"MM/dd" }}</p>
        </span>
        <span class="col-sm-8 col-xs-8 group-show-mid-col">
              <h5 class="group-show"><strong>
                {{match.eventName}}
              </strong></h5>
          </a>
          <p><i class="fa fa-map-marker"></i> {{shortAddress(match.address)}}</p>
        </span>
        <span class="col-sm-2 col-xs-2">
            <a ui-sref="profile.event.show({id: match._id, name: (match.eventName || match.firstName)})">
              <i class="fa fa-angle-right fa-3x"></i>
            </a>
        </span>
      </div>
      <hr>
    </li>


    <li ng-if="isActiveTab(1)" ng-repeat="match in matchedEvents | orderBy: '-createdAt'">
      <div class="row">
        <span class="col-sm-2 col-xs-2 text-center">
            <i class="fa fa-calendar-o fa-3x"></i>
            <p>{{match.confirmDate | date:"MM/dd" }}</p>
        </span>
        <span class="col-sm-8 col-xs-8 group-show-mid-col">
              <h5 class="group-show"><strong>
                {{match.eventName}}
              </strong></h5>
          </a>
          <p><i class="fa fa-map-marker"></i> {{shortAddress(match.address)}}</p>
        </span>
        <!-- ui-sref="event.show({id: match._id}) -->
        <span class="col-sm-2 col-xs-2">
            <a ui-sref="event.show({id: match._id, name: (match.eventName || match.firstName)})">
              <i class="fa fa-angle-right fa-3x"></i>
            </a>
        </span>
      </div>
      <hr>
    </li>
  <!--   <li ng-if="isActiveTab(1)" ng-repeat="match in matchedEvents">
      {{match}}
    </li> -->
  </ul>
</div>
<!-- end email list based on active tab selected -->


