rz-slider .rz-pointer {
      background-color: $darkest-blue;
}

.group-show-hr{
	margin-top: 0;
	margin-bottom: 10px;
}

h5.group-show{
	margin-top: 0px;
	margin-bottom: 5px;
}

.group-show-mid-col{
	padding-left: 10px;
	padding-right: 10px;
}

.group-buttons .well-sm{
	padding: 0px;
}