rz-slider .rz-pointer {
      background-color: $darkest-blue;
}

.group-show-hr{
	margin-top: 0;
	margin-bottom: 10px;
}

h5.group-show{
	margin-top: 0px;
	margin-bottom: 5px;
}

.group-show-mid-col{
	padding-left: 10px;
	padding-right: 10px;
}

.group-buttons .well-sm{
	padding: 0px;
}

.group-list-text {
  color: $gray;
  i {
    margin-top: 4%;
    margin-bottom: 4%;
  }
  h3 {
    margin-top: 7%;
  }
  h4 {
    margin-bottom: 5%;
  }
}
