<!-- hello -->
<div class="row">
  <div class="col-xs-12 col-sm-12">

       <button  ng-click="openPaymentModal();" ng-if="!currentUser.activeSubscription && !isAdmin"
       class="btn btn-secondary btn-lg pull-right" >Add Group</button>
       <!-- admin -->
        <button ui-sref="group.new" ng-if="isAdmin" class="btn btn-secondary btn-lg pull-right">Add Group</button>
       <!-- end admin -->
  </div>
</div>

<div class="row">
  <div class="col-sm-12 col-xs-12">
    <br>
    <ul class="list-unstyled event-list">
      <li ng-repeat="group in listGroups | filter:groupUserFilter"
          ng-mouseenter="hover = false"
          ng-mouseleave="hover = true">
        <div class="row">
          <span class="col-sm-11 col-xs-10">
            <a ui-sref="group.show({id: group._id})">
              <h4>{{group.organizationName | capitalize }}, {{group.firstName | capitalize }} {{group.lastName | capitalize }}</h4>
            </a>
          </span>
          <span class="col-sm-1 col-xs-1">
            <a ng-click="deleteGroup(group._id)" ng-class="{'hidden-sm': hover, 'hidden-md': hover, 'hidden-lg': hover}">
              <i class="fa fa-times"></i>
            </a>
          </span>
        </div>
        <hr>
      </li>
    </ul>
  </div>

</div>


