<div ng-show="isAdmin()" class="col-sm-6 col-xs-6">
  <h3>Causes</h3>
</div>
<div ng-hide="isAdmin()" class="col-sm-12 col-xs-12">
  <h3>Causes</h3>
</div>
<div class="row">


  <div ng-show="isAdmin()" class="col-sm-6 col-xs-6">
    <h2>
        <button ui-sref="event.new" class="btn btn-secondary btn-lg">Add Cause</button>
    </h2>
  </div>

  <div class="col-sm-6 col-xs-12">
    <ul class="list-unstyled event-list">
      <li ng-repeat="event in listEvents | filter:sort "
          ng-mouseenter="hover = false"
          ng-mouseleave="hover = true">
        <div class="row">
          <span class="col-sm-11 col-xs-10">
            <!-- <a ui-sref="event.show({id: event._id})"> -->
            <a ng-click="path(showLink, event._id)">
              <h4>{{event.firstName | capitalize }} {{event.lastName | capitalize }}</h4>
            </a>
          </span>
          <span class="col-sm-1 col-xs-2">
            <a ng-show="isAdmin()" ng-click="deleteEvent(event._id)" ng-class="{'hidden-sm': hover, 'hidden-md': hover, 'hidden-lg': hover}">
              <i class="fa fa-times"></i>
            </a>
          </span>
        </div>
        <hr>
      </li>
    </ul>
  </div>
</div>
