<div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
        <h3>{{event.firstName | capitalize}} {{event.lastName | capitalize}} {{event.eventName}} needs help in your area.</h3>

        <strong><p>What is this cause about?</strong></p>
        <!-- move in description -->
        <div ng-hide="event.causeType !== 'Homeless Move-in'">
          <p>Someone just moved off the streets and it’s time to party! This person now lives in your selected volunteer area and you can help make a difference by welcoming them home! Simply, select organize cause and it will send the invites to the rest of your group.
          You will also be responsible for putting together a Welcome Home Kit. Make sure to tell each member what they are responsible for. And get ready to party!</p>
        </div>
        <!-- end move-in description -->
        <!-- other description -->
        <div ng-show="event.causeType !== 'Homeless Move-in'">
          <p>{{event.description}}</p>
        </div>
        <!-- end other description -->
        <p ng-if="!isAdmin()">To get started, simply select <strong>Accept Cause</strong>.</p>

          <th class="col-sm-6 col-xs-6">
          </th>
          <th class="col-sm-6 col-xs-6">
        </tr>
      </thead>
        <tbody>
<!--           <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)">
              <th>What is this cause about?</th>
              <td></td>
          </tr> -->
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-hide="event.causeType !== 'Homeless Move-in'">
              <th>Client Phone Number:</th>
              <td>{{event.phoneNumber | tel}}</td>
          </tr>
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)">
              <th>{{createLabel(event.causeType, 'address')}} address:</th>
              <td>{{event.address}}</td>
          </tr>
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-hide="event.causeType !== 'Homeless Move-in'">
              <th>Move in zip:</th>
              <td>{{event.zipCode}}</td>
          </tr>
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-hide="event.causeType !== 'Homeless Move-in'">
              <th>Gender:</th>
              <td>{{event.gender | capitalize }}</td>
          </tr>
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-hide="event.causeType !== 'Homeless Move-in'">
              <th>Age:</th>
              <td>{{event.age}}</td>
          </tr>

          <tr ng-show="isAdmin()"
              ng-hide="event.causeType !== 'Homeless Move-in'">
              <th>Date moved in:</th>
              <td>{{event.availability.moveInDate | date:"MM/dd/yyyy" }}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
              <th>Date 1:</th>
              <td>{{event.availability.firstDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
            <th></th>
            <td class="time">
              <span ng-repeat="time in event.availability.firstDateTime track by $index" ng-if="time">
                   {{$first ? '' : $last ? ' , ' : ', '}}{{checkTime(time, $index)}}
             </span>
            </td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
              <th>Date 2:</th>
              <td>{{event.availability.secondDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
            <th></th>
            <td class="time">
              <span ng-repeat="time in event.availability.secondDateTime track by $index" ng-if="time">
                 {{$first ? '' : $last ? ' , ' : ', '}}{{checkTime(time, $index)}} </span>
            </td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
              <th>Date 3:</th>
              <td>{{event.availability.thirdDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
            <th></th>
            <td class="time">
             <span ng-repeat="time in event.availability.thirdDateTime track by $index" ng-if="time">
               {{$first ? '' : $last ? ', ' : ', '}}{{checkTime(time, $index)}} </span>
            </td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-hide="eventNew.causeType !== 'Homeless Move-in'">
              <th>Registry Url:</th>
              <td>{{event.registryUrl}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-hide="eventNew.causeType !== 'Homeless Move-in'">
              <th>Notes:</th>
              <td>{{event.notes}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-show="eventNew.causeType !== 'Homeless Move-in'">
              <th>Organizer:</th>
              <td>{{event.organizerFirstName}} {{event.organizerLastName}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-show="eventNew.causeType !== 'Homeless Move-in'">
              <th>Email:</th>
              <td>{{event.organizerEmail}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)"
              ng-show="eventNew.causeType !== 'Homeless Move-in'">
              <th>Phone Number:</th>
              <td>{{event.organizerPhoneNumber}}</td>
          </tr>

        </tbody>

    </table>
  </div>
  </div>
</div>

