<div class="table-responsive">
    <table class="table table-sm">
      <thead>
        <tr>
          <th class="col-sm-6 col-xs-6">
              <h3 class="no-margin">{{event.firstName | capitalize}} {{event.lastName | capitalize}}</h3>
          </th>
          <th class="col-sm-6 col-xs-6">
          </th>
        </tr>
      </thead>
        <tbody>
          <tr ng-show="isAdmin();">
              <th>Client Phone Number:</th>
              <td>{{event.phoneNumber | tel}}</td>
          </tr>
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)">
              <th>Move in address:</th>
              <td>{{event.address | capitalize}}</td>
          </tr>
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)">
              <th>Move in zip:</th>
              <td>{{event.zipCode}}</td>
          </tr>
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)">
              <th>Gender:</th>
              <td>{{event.gender | capitalize }}</td>
          </tr>
          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)">
              <th>Age:</th>
              <td>{{event.age}}</td>
          </tr>
     
          <tr ng-show="isAdmin()">
              <th>Date moved in:</th>
              <td>{{event.availability.moveInDate | date:"MM/dd/yyyy" }}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
              <th>Date 1:</th>
              <td>{{event.availability.firstDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
            <th></th>
            <td class="time">
              <span ng-repeat="time in event.availability.firstDateTime track by $index" ng-if="time">
                   {{$first ? '' : $last ? ' , ' : ', '}}{{checkTime(time, $index)}} 
             </span> 
            </td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
              <th>Date 2:</th>
              <td>{{event.availability.secondDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
            <th></th>
            <td class="time">
              <span ng-repeat="time in event.availability.secondDateTime track by $index" ng-if="time">
                 {{$first ? '' : $last ? ' , ' : ', '}}{{checkTime(time, $index)}} </span>
            </td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
              <th>Date 3:</th>
              <td>{{event.availability.thirdDate | date:"MM/dd/yyyy"}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId !== event.confirmGroup)">
            <th></th>
            <td class="time">
             <span ng-repeat="time in event.availability.thirdDateTime track by $index" ng-if="time">
               {{$first ? '' : $last ? ', ' : ', '}}{{checkTime(time, $index)}} </span>
            </td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)">
              <th>Registry Url:</th>
              <td>{{event.registryUrl}}</td>
          </tr>

          <tr ng-show="isAdmin() || (matchedZipCodeId === event.confirmGroup)">
              <th>Notes:</th>
              <td>{{event.notes}}</td>
          </tr>

        </tbody>

    </table>
  </div>
  </div>
</div>

