		<!-- group or individual radio buttons -->
		<div class="form-group">
			  <label>Select type of volunteer</label><br>

			  <div class="row radio-icons">
				  <i class="fa fa-users fa-2x text-center col-xs-2 col-sm-2" aria-hidden="true"></i>

				  <i class="fa fa-user fa-2x text-center col-xs-2 col-sm-2" aria-hidden="true"></i>
			  </div>

			  <div class="row group-individual">

					<label class="radio-inline group-only">

					  <input name="groupOnlyYes" ng-model="newEvent.groupOnly" ng-value="true" type="radio">
					  <span class="c-indicator"></span>
					  Group Only
					</label>

					<label class="radio-inline">
					  <input name="groupOnlyNo" ng-model="newEvent.groupOnly" ng-value="false" type="radio">
					  <span class="c-indicator"></span>
					  Individuals
					</label>
			  </div>
		</div>
		<!-- end group or individual radio buttons -->

		<!-- add cause type -->
		<!-- cause types if groupOnly event -->
		<div class="form-group" ng-if="newEvent.groupOnly === true" ng-class="{'has-success': form.causeType.$valid && submitted, 'has-error': form.causeType.$invalid && submitted }">
			<label>Select Cause</label>
		  <select class="form-control"
		  		name="causeType"
		      ng-model="newEvent.causeType"
		      ng-options="obj as obj for obj in groupCauseArray;"
		      required
		      >
		    <option value="" disabled selected>Choose Cause</option>
		  </select>
		</div>

		<!-- cause types if not group only -->
		<div class="form-group" ng-if="newEvent.groupOnly === false" ng-class="{ 'has-success': form.causeType.$valid && submitted,'has-error': form.causeType.$invalid && submitted }">
			<label>Select Cause</label>
		  <select class="form-control"
		  		name="causeType"
		      ng-model="newEvent.causeType"
		      ng-options="obj as obj for obj in causeArray;"
		      required
		      >
		    <option value="" disabled selected>Choose Cause</option>
		  </select>
		</div>
		<!-- end cause type -->

		<!-- ng-if to show other form fields once cause type is selected -->
		<div ng-if="newEvent.causeType">

			<!-- veteran section -->
			<div class="form-group" ng-if="newEvent.causeType === 'Homeless Move-in'">
			  <label>Is this client a veteran?</label><br>
				<label class="radio-inline">
				  <input name="veteranYes" ng-model="newEvent.veteran" ng-value="true" type="radio">
				  <span class="c-indicator"></span>
				  Yes
				</label>
				<label class="radio-inline">
				  <input name="veteranNo" ng-model="newEvent.veteran" ng-value="false" type="radio">
				  <span class="c-indicator"></span>
				 No
				</label>
			</div>
		  <!-- end veteran section -->

			<!-- client name -->
			<div ng-if="newEvent.causeType === 'Homeless Move-in'">
				<div class="row">
					<div class="col-md-6 col-xs-6">
					 <div class="form-group" ng-class="{ 'has-success': form.firstname.$valid && submitted,
		                                          'has-error': form.firstname.$invalid && submitted }">
					   <label>First Name</label>
					   <input type="text" name="firstname" ng-model="newEvent.firstName" class="form-control" required>
					  </div>
					</div>
					<div class="col-md-6 col-xs-6">
						<div class="form-group" ng-class="{ 'has-success': form.lastname.$valid && submitted,
			                                           'has-error': form.lastname.$invalid  && submitted }">
						   <label>Last Name</label>
						   <input type="text" name="lastname" ng-model="newEvent.lastName" class="form-control" required>
						</div>
					</div>
				</div>
				<!-- end client name -->

				<!-- phone number  -->
		      <div class="form-group" ng-class="{ 'has-success': form.phoneNumber.$valid && submitted,
		                                           'has-error': form.phoneNumber.$invalid && submitted }">
		        <label>{{createLabel(newEvent.causeType)}} Phone Number (optional)</label>
		        <input type="text" name="phoneNumber" ng-model="newEvent.phoneNumber"
		               class="form-control" ui-mask="(999) 999-9999"/>
		      </div>
				<!-- end phone number -->
			</div>
			<!-- end client name -->

			<!-- event name -->
			<div class="form-group" ng-if="newEvent.causeType === 'Other'" ng-class="{ 'has-success': form.eventName.$valid && submitted,'has-error': form.eventName.$invalid && submitted }">
        <label>Event Name</label>
        <input type="text" name="eventName" ng-model="newEvent.eventName" class="form-control"
         required/>
      </div>
			<!-- end event name -->

			<!-- address -->
			<div class="form-group" ng-class="{ 'has-success': form.address.$valid && submitted,'has-error': form.address.$invalid && submitted }">
        <label>{{createLabel(newEvent.causeType)}} Address</label>
        <input type="text" g-places-autocomplete  name="address" ng-model="newEvent.address" placeholder="Enter address, business name, landmark"
        			 class="form-control" required/>
      </div>
			<!-- end address -->

			<!-- meetup address -->
			<div class="form-group" ng-class="{ 'has-success': form.meetupAddress.$valid && submitted,'has-error': form.meetupAddress.$invalid && submitted }" ng-if="showMeetupAddress">
        <label>Meetup Address</label>
        <input type="text" g-places-autocomplete  name="meetupaddress" ng-model="newEvent.meetupAddress" placeholder="Enter the meetup location for your group"
        			 class="form-control" required/>
      </div>
			<!-- end meetup address -->

			<!-- number of volunteers -->
			<div class="form-group" ng-if="newEvent.groupOnly === false" ng-class="{ 'has-success': form.numberOfVolunteers.$valid && submitted,'has-error': form.numberOfVolunteers.$invalid && submitted}">
        <label>Number of Volunteers</label>
        <input type="text" name="numberOfVolunteers" minlength="1" maxlength="3" ng-model="newEvent.numberOfVolunteers"
        class="form-control"
         required/>
      </div>
			<!-- end number of volunteers -->

			<!-- gender age-->
			<div class="row" ng-if="newEvent.causeType === 'Homeless Move-in'">
				<div class="col-sm-6 col-xs-9">
					<div class="form-group">
					    <label>Gender (optional)</label><br>
						<label class="radio-inline">
						  <input name="male" ng-model="newEvent.gender" value="male" type="radio">
						  <span class="c-indicator"></span>
						  Male
						</label>
						<label class="radio-inline">
						  <input name="female" ng-model="newEvent.gender" value="female" type="radio">
						  <span class="c-indicator"></span>
						 Female
						</label>
						<label class="radio-inline">
						  <input name="other" ng-model="newEvent.gender" value="other" type="radio">
						  <span class="c-indicator"></span>
						 Other
						</label>
					</div>
				</div>
				<div class="col-sm-6 col-xs-3">
					<div class="form-group">
					   <label>Age (optional)</label>
					   <input type="number" name="age" ng-model="newEvent.age" class="form-control">
					</div>
				</div>
			</div>
			<!-- gender age-->

		<!-- dates for individual event -->
		<div>
			<div ng-if="newEvent.causeType !== 'Homeless Move-in'">
				<ul class="list-unstyled" ng-repeat="dt in newEvent.dateTimes track by $index">
					<li>
						<!-- date -->
						<label>Date</label>
				      <p class="input-group">
				        <input type="text" class="form-control" name="dt" uib-datepicker-popup="{{format}}" ng-model="newEvent.dateTimes[$index].date" is-open="dt.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				        <span class="input-group-btn">
				          <button type="button" class="btn btn-default" ng-click="open(dt)"><i class="glyphicon glyphicon-calendar"></i></button>
				        </span>
				    	</p>
				    <!-- time -->
				    <label>Time</label>
				      <br>
				      <div class="row">
					    	<time-picker ng-model="newEvent.dateTimes[$index].startTime"></time-picker>

					    	<time-picker ng-model="newEvent.dateTimes[$index].endTime"></time-picker>

				      </div>
					</li>
				</ul>
			</div>


			<button type="button" class="btn btn-primary add-time-btn" ng-click="addDt()">Add Date & Time</button>
			</div>



		<!-- dates for homeless move-in events -->
		<div ng-if="newEvent.causeType === 'Homeless Move-in'">
				<!-- date movedin -->
				<div class="form-group" ng-if="newEvent.causeType === 'Homeless Move-in'"
					  ng-class="{ 'has-success': form.moveindate.$valid && submitted,
	                                               'has-error': form.moveindate.$invalid && submitted }">
				  <label>Move-in Date</label>
			        <p class="input-group">
			          <input type="text" class="form-control" name="moveindate" uib-datepicker-popup="{{format}}" ng-model="newEvent.availability.moveInDate" is-open="popup1.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
			          <span class="input-group-btn">
			            <button type="button" class="btn btn-default" ng-click="open1()"><i class="glyphicon glyphicon-calendar"></i></button>
			          </span>
			        </p>
				</div>


				<!-- date one and time -->
				<label ng-if="newEvent.causeType === 'Other'">Pick a date for your event</label>
				<label ng-if="newEvent.causeType === 'Homeless Move-in'">Please Choose 3 Available Dates and Times</label><br>
				<label>Date & Time 1</label>
				<div class="row">
					<div class="col-xs-12 col-sm-5">
						<div class="form-group" ng-class="{ 'has-success': form.dateone.$valid && submitted,
			                                               'has-error': form.dateone.$invalid && submitted }">
				        <p class="input-group">
				          <input type="text" class="form-control" name="dateone" uib-datepicker-popup="{{format}}" ng-model="newEvent.availability.firstDate" is-open="popup2.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
				          <span class="input-group-btn">
				            <button type="button" class="btn btn-default" ng-click="open2()"><i class="glyphicon glyphicon-calendar"></i></button>
				          </span>
				        </p>
						</div>
					</div>
					<div class="col-xs-12 col-sm-7">
					  <div class="form-group" ng-class="{ 'has-success': newEvent.availability.firstDateTime[0] && newEvent.availability.firstDateTime[1] &&
						newEvent.availability.firstDateTime[2] && submitted, 'has-error': !newEvent.availability.firstDateTime[0] && !newEvent.availability.firstDateTime[1] &&
						!newEvent.availability.firstDateTime[2] && submitted }">
						<label class="checkbox-inline">
						  <input name="morning" ng-model="newEvent.availability.firstDateTime[0]" type="checkbox"
						  ng-required="!newEvent.availability.firstDateTime[0] && !newEvent.availability.firstDateTime[1] && !newEvent.availability.firstDateTime[2]">
						  <span class="c-indicator"></span>
						  Morning<br> 8-12
						</label>
						<label class="checkbox-inline">
						  <input name="afternoon" ng-model="newEvent.availability.firstDateTime[1]" type="checkbox"  ng-required="!newEvent.availability.firstDateTime[0] && !newEvent.availability.firstDateTime[1] && !newEvent.availability.firstDateTime[2]">
						  <span class="c-indicator"></span>
						 Afternoon<br> 12-5
						</label>
						<label class="checkbox-inline">
						  <input name="evening" ng-model="newEvent.availability.firstDateTime[2]" type="checkbox"  ng-required="!newEvent.availability.firstDateTime[0] && !newEvent.availability.firstDateTime[1] && !newEvent.availability.firstDateTime[2]">
						  <span class="c-indicator"></span>
						 Evening<br> 5-10
						</label>
					  </div>
					</div>
				</div>
				<!-- end date one and time -->

				<!-- date 2 & 3 show only if homeless move-in -->
				<div>
					<!-- date two and time -->
						<label>Date & Time 2</label>
						<div class="row">
							<div class="col-xs-12 col-sm-5">
								<div class="form-group" ng-class="{ 'has-success': form.datetwo.$valid && submitted,
					                                               'has-error': form.datetwo.$invalid && submitted }">
					        <p class="input-group">
					          <input type="text" class="form-control" name="datetwo" uib-datepicker-popup="{{format}}" ng-model="newEvent.availability.secondDate" is-open="popup3.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					          <span class="input-group-btn">
					            <button type="button" class="btn btn-default" ng-click="open3()"><i class="glyphicon glyphicon-calendar"></i></button>
					          </span>
				        	</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-7">
								<div class="form-group" ng-class="{ 'has-success': newEvent.availability.secondDateTime[0] && newEvent.availability.secondDateTime[1] &&                                    newEvent.availability.secondDateTime[2] && submitted,
								                                    'has-error': !newEvent.availability.secondDateTime[0] && !newEvent.availability.secondDateTime[1] && !newEvent.availability.secondDateTime[2] && submitted }">
									<label class="checkbox-inline">
									  <input name="morning" ng-model="newEvent.availability.secondDateTime[0]" type="checkbox"  ng-required="!newEvent.availability.secondDateTime[0] && !newEvent.availability.secondDateTime[1] && !newEvent.availability.secondDateTime[2]">
									  <span class="c-indicator"></span>
									  Morning<br> 8-12
									</label>
									<label class="checkbox-inline">
									  <input name="afternoon" ng-model="newEvent.availability.secondDateTime[1]" type="checkbox"  ng-required="!newEvent.availability.secondDateTime[0] && !newEvent.availability.secondDateTime[1] && !newEvent.availability.secondDateTime[2]">
									  <span class="c-indicator"></span>
									 Afternoon<br> 12-5
									</label>
									<label class="checkbox-inline">
									  <input name="evening" ng-model="newEvent.availability.secondDateTime[2]" type="checkbox" ng-required="!newEvent.availability.secondDateTime[0] && !newEvent.availability.secondDateTime[1] && !newEvent.availability.secondDateTime[2]">
									  <span class="c-indicator">
									 Evening<br> 5-10
									</span>
									</label>
								</div>
							</div>
						</div>
					<!-- end date two and time -->
					<!-- date three and time -->
						<label>Date & Time 3</label>
						<div class="row">
							<div class="col-xs-12 col-sm-5">
								<div class="form-group" ng-class="{ 'has-success': form.datethree.$valid && submitted,
					                                               'has-error': form.datethree.$invalid && submitted }">
					       	<p class="input-group">
					          <input type="text" class="form-control" name="datethree" uib-datepicker-popup="{{format}}" ng-model="newEvent.availability.thirdDate" is-open="popup4.opened" datepicker-options="dateOptions" ng-required="true" close-text="Close" alt-input-formats="altInputFormats" />
					          <span class="input-group-btn">
					            <button type="button" class="btn btn-default" ng-click="open4()"><i class="glyphicon glyphicon-calendar"></i></button>
					          </span>
			        		</p>
								</div>
							</div>
							<div class="col-xs-12 col-sm-7">
								<div class="form-group" ng-class="{ 'has-success': newEvent.availability.thirdDateTime[0] && newEvent.availability.thirdDateTime[1] && 										newEvent.availability.thirdDateTime[2] && submitted,
								                                    'has-error': !newEvent.availability.thirdDateTime[0] && !newEvent.availability.thirdDateTime[1] && !newEvent.availability.thirdDateTime[2] && submitted }">
									<label class="checkbox-inline">
									  <input name="morning" ng-model="newEvent.availability.thirdDateTime[0]" value="Morning 8am-12pm" type="checkbox"  ng-required="!newEvent.availability.thirdDateTime[0] && !newEvent.availability.thirdDateTime[1] && !newEvent.availability.thirdDateTime[2]">
									  <span class="c-indicator"></span>
									  Morning<br> 8-12
									</label>
									<label class="checkbox-inline">
									  <input name="afternoon" ng-model="newEvent.availability.thirdDateTime[1]" value="Afternoon 12pm-5pm" type="checkbox" ng-required="!newEvent.availability.thirdDateTime[0] && !newEvent.availability.thirdDateTime[1] && !newEvent.availability.thirdDateTime[2]">
									  <span class="c-indicator"></span>
									 Afternoon<br> 12-5
									</label>
									<label class="checkbox-inline">
									  <input name="evening" ng-model="newEvent.availability.thirdDateTime[2]" value="Evening 5pm-10pm" type="checkbox" ng-required="!newEvent.availability.thirdDateTime[0] && !newEvent.availability.thirdDateTime[1] && !newEvent.availability.thirdDateTime[2]">
									  <span class="c-indicator"></span>
									 Evening<br> 5-10
									</label>
								</div>
							</div>
						</div>
					<!-- end date three and time -->
				</div>
		</div>


			<!-- registry url -->
			<div class="form-group" ng-class="{ 'has-success': form.registryUrl.$valid && submitted,'has-error': form.registryUrl.$invalid && submitted }">
			   <label ng-if="newEvent.causeType === 'Homeless Move-in'">Registry Url</label>
			   <label ng-if="newEvent.causeType !== 'Homeless Move-in'">
			   	Share a link with volunteers to learn more about the cause - checklists, your website, social link, etc.</label>
			   <input type="text" name="registryUrl" ng-model="newEvent.registryUrl" ng-pattern="/\b(http|https)/" class="form-control" required>
			</div>
			<p class="text-danger" ng-show="form.registryUrl.$error.pattern">
			  Please enter a url starting with http or https.
			</p>
			<!-- end registry url -->

			<!-- notes/description section -->
			<div class="form-group" ng-if="newEvent.causeType === 'Homeless Move-in'">
			   <label>Notes</label>
			   <textarea type="text" rows="3" name="notes" ng-model="newEvent.notes" class="form-control"
			   placeholder="Any special requests, are there any age restrictions for volunteers, does the client have any children or pets or interests"></textarea>
			</div>
			<div class="form-group" ng-if="newEvent.causeType === 'Other'" ng-class="{ 'has-success': form.description.$valid && submitted,'has-error': form.description.$invalid && submitted }">
			   <label>Event Description</label>
			   <textarea type="text" name="description" rows="3" ng-model="newEvent.description" class="form-control" required></textarea>
			</div>
			<!-- end notes section -->

			<!-- organizer section -->
				<!-- client name -->
				<div>
					<br>
					<label>Organizer Information</label>
					<div class="row">
						<div class="col-md-6 col-xs-6">
						 <div class="form-group" ng-class="{ 'has-success': form.organizerFirstName.$valid && submitted,
			                                          'has-error': form.organizerFirstName.$invalid && submitted }">
						   <label>First Name</label>
						   <input type="text" name="organizerFirstName" ng-model="newEvent.organizerFirstName" class="form-control" required>
						  </div>
						</div>
						<div class="col-md-6 col-xs-6">
							<div class="form-group" ng-class="{ 'has-success': form.organizerLastName.$valid && submitted,
				                                           'has-error': form.organizerLastName.$invalid  && submitted }">
							   <label>Last Name</label>
							   <input type="text" name="organizerLastName" ng-model="newEvent.organizerLastName" class="form-control" required>
							</div>
						</div>
					</div>
					<!-- end client name -->
					<!-- organizer email -->
					<!-- email -->
					<div class="form-group" ng-class="{ 'has-success': form.organizerEmail.$valid && submitted,
					                                     'has-error': form.organizerEmail.$invalid && submitted }">
					  <label>Email</label>
					  <input type="text" name="organizerEmail" ng-model="newEvent.organizerEmail"
					         class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
					         required/>
					    <p class="text-danger" ng-if="form.email.$error.pattern && submitted">
					      Please enter a valid email.
					    </p>
					 </div>
					<!-- end email -->
					<!-- end organizer email -->
					<!-- phone number  -->
			      <div class="form-group" ng-class="{ 'has-success': form.organizerPhoneNumber.$valid && submitted,
			                                           'has-error': form.organizerPhoneNumber.$invalid && submitted }">
			        <label>Phone Number</label>
			        <input type="text" name="organizerPhoneNumber" ng-model="newEvent.organizerPhoneNumber"
			               class="form-control" ui-mask="(999) 999-9999" required/>
			      </div>
					<!-- end phone number -->
				</div>


			<!-- end organizer section -->
