<div class="row">
  <!-- path / form selection sectionc -->
  <div class="col-sm-12 col-xs-12 text-center">
    <h4 class="text-center">Welcome to GoBe! <br>
      Tell us what you're doing here!</h4>

    <!-- volunteering tab -->
    <button class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 btn btn-large signup-buttons" ng-click="changeTab(1)"
            ng-class="{'active-signup':isActiveTab(1)}">
      Hi, I'm here to volunteer for causes in my area!
    </button>

    <!-- groups tab -->
    <button class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 btn btn-large signup-buttons" ng-click="changeTab(2)"
            ng-class="{'active-signup':isActiveTab(2)}">
      Hi, I'm here to find volunteers for my events!
    </button>

      <!-- group form -->
    <div ng-if="tab === 2" class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 signup-next text-right">
      <button class="btn btn-lg btn-primary" type="submit" ui-sref="event.list"
      >
        Next
      </button>
    </div>
  <!-- end group form -->
  </div>
  <!-- end path / form selection sectionc -->

  <!-- volunteer form -->
  <form ng-if="tab === 1" class="form" name="form" ng-submit="updateUser(form)" novalidate>
    <div class="col-sm-12 col-xs-12 text-center">
      <h5>Yay! We are happy you are joining us and look forward to helping you make
        a difference in your community.</h5>
      <i class="fa fa-map-marker fa-5x" aria-hidden="true"></i>
      <h5>To match with opportunities we are going to need your address.
        Enter it below.</h5>
    </div>

    <div class="col-sm-12 col-xs-12">
      <!-- first and last name -->
          <div class="row">
            <div class="col-md-6 col-xs-6">
             <div class="form-group" ng-class="{ 'has-success': form.firstName.$valid && submitted,
                                                'has-error': form.firstName.$invalid && submitted }">
               <label>First Name</label>
               <input type="text" name="firstName" ng-model="currentUser.firstName"
                      class="form-control" placeholder="First Name" required>
              </div>
            </div>
            <div class="col-md-6 col-xs-6">
              <div class="form-group" ng-class="{ 'has-success': form.lastName.$valid && submitted,
                                                   'has-error': form.lastName.$invalid  && submitted }">
                 <label>Last Name</label>
                 <input type="text" name="lastName" ng-model="currentUser.lastName"
                        class="form-control" placeholder="Last Name" required>
              </div>
            </div>
          </div>
          <!-- end name -->
          <!-- email -->
          <div class="form-group" ng-class="{ 'has-success': form.organizerEmail.$valid && submitted,
                                               'has-error': form.organizerEmail.$invalid && submitted }">
            <label>Email</label>
            <input type="text" name="email" ng-model="currentUser.email"
                   class="form-control" ng-pattern="/^[^\s@]+@[^\s@]+\.[^\s@]{2,}$/"
                   required/>
              <p class="text-danger" ng-if="form.email.$error.pattern && submitted">
                Please enter a valid email.
              </p>
           </div>
          <!-- end email -->

      <!-- address -->
      <div class="form-group" ng-class="{'has-success': form.address.$valid && submitted,
                                           'has-error': form.address.$invalid && submitted }">
         <label>Your location</label>
         <input type="text" g-places-autocomplete name="address"
                placeholder="Enter address, business name, landmark"
                ng-model="currentUser.address" class="form-control" required>
      </div>

      <p class="text-danger" ng-show="form.address.$error.minlength && submitted">
          Please enter a complete address.
      </p>
      <!-- end address -->

      <!-- zip code slider -->
      <div>
          <h5>What is the distance you are willing to travel?</h5>
          <rzslider rz-slider-model="zipCodeSlider.value" rz-slider-options="zipCodeSlider.options"></rzslider>
      </div>
      <!-- end zip code slider -->

      <!-- phone marker -->
      <div class="text-center">
        <i class="fa fa-mobile fa-5x" aria-hidden="true"></i>
      </div>
      <!-- end phone marker -->

      <!-- phone number -->
      <div class="form-group" ng-class="{'has-success': form.phoneNumber.$valid && submitted,
                                           'has-error': form.phoneNumber.$invalid && submitted }">
         <label>Phone number</label>
         <input class="form-control" type="text"
                ui-mask="(999) 999-9999"
                ng-model="currentUser.phoneNumber">
      </div>
      <!-- end phone number -->



      <!-- <div> -->
        <div class="text-left">
          <p class="text-danger">{{updateUserError}}</p>
        </div>

        <div class="col-sm-10 col-sm-offset-1 col-xs-10 col-xs-offset-1 pull-right text-right">
          <button class="btn btn-lg" type="submit" ng-submit="updateUser()"
          ng-class="{ 'btn-primary': form.$valid, 'btn-secondary': form.$invalid}">
            Next
          </button>
        </div>
      <!-- </div> -->
    </div>
  </form>
  <!-- end volunteer form -->


</div>
