.btn {
  &:hover, &:focus {
  color: $bg-blue;

  }
}

.signup-buttons {
  background-color: $white;
  color: $bg-blue;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-color: $bg-blue;
  p {
    white-space: normal;
  }
}

.active-signup {
  background-color: $bg-blue;
  color: $white;
  &:hover, &:focus {
    color: $white;
  }
}

.signup-next {
  padding-right: 0px;
  padding-top: 7%;
}

.volunteer-signup {
  i {
    color: $teal-green
  }
}

.profile-photo {
  max-width: 50%;
}

.skip-now, .photo-placeholder {
  color: $bg-blue;
}

.skip-now {
  text-decoration: underline;
}

.avatar {
  width: 50%;
  height: 50%;
}

.cropArea {
  margin-right: auto;
  margin-left: auto;
  background: #E4E4E4;
  overflow: hidden;
  width:300px;
  height:150px;
}

@media only screen and (max-width: $screen-xs) {
  .cropArea {
    margin-right: auto;
    margin-left: auto;
    background: #E4E4E4;
    overflow: hidden;
    width:250px;
    height:100px;
  }
}

@media only screen and (min-width: $screen-sm) and (max-width: $screen-sm) {
  .cropArea {
    margin-right: auto;
    margin-left: auto;
    background: #E4E4E4;
    overflow: hidden;
    width:300px;
    height:150px;
  }
}

@media only screen and (min-width: $screen-md) and (max-width: $screen-lg){
  .cropArea {
    margin-right: auto;
    margin-left: auto;
    background: #E4E4E4;
    overflow: hidden;
    width:450px;
    height:350px;
  }
}



