.btn {
  &:hover, &:focus {
  color: $bg-blue;

  }
}

.signup-buttons {
  background-color: $white;
  color: $bg-blue;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-color: $bg-blue;
  p {
    white-space: normal;
  }
}

.active-signup {
  background-color: $bg-blue;
  color: $white;
  &:hover, &:focus {
    color: $white;
  }
}

.signup-next {
  padding-right: 0px;
  padding-top: 7%;
}

.volunteer-signup {
  i {
    color: $teal-green
  }
}

.profile-photo {
  max-width: 50%;
}

.skip-now, .photo-placeholder {
  color: $bg-blue;
}

.skip-now {
  text-decoration: underline;
}

.cropArea {
  background: #E4E4E4;
  overflow: hidden;
  width:500px;
  height:350px;
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
