.btn {
  &:hover, &:focus {
  color: $bg-blue;

  }
}

.signup-buttons {
  background-color: $white;
  color: $bg-blue;
  padding-top: 5%;
  padding-bottom: 5%;
  margin-top: 2%;
  margin-bottom: 2%;
  border-color: $bg-blue;
  p {
    white-space: normal;
  }
}

.active-signup {
  background-color: $bg-blue;
  color: $white;
  &:hover, &:focus {
    color: $white;
  }
}

.signup-next {
  padding-right: 0px;
  padding-top: 7%;
}

.volunteer-signup {
  i {
    color: $teal-green
  }
}

.profile-photo {
  max-width: 50%;
}

.skip-now, .photo-placeholder {
  color: $bg-blue;
}

.skip-now {
  text-decoration: underline;
}
